doctype html
html(lang='es')
    include includes/head.pug
    body
        include includes/header.pug

        - spaces = {1:'uno',2:'dos',3:'tres',4:'cuatro',5:'cinco',6:'seis',7:'siete'}

        section#main-section.fluid-secion
            .spaces-section
                .container-fluid
                    .gallery-spaces.row.no-gutters

                        mixin space-slide(number, text)
                            .gallery-space.col-12(class=number > 3 ? "col-md-3" : "col-md-4")
                                - modal = ".spaces-modal-" + number
                                .hover-tile-outer(style="background-image: url('./images/space1.jpg')", data-toggle="modal", data-target=modal)
                                  .hover-tile-container
                                    .hover-tile.hover-tile-visible
                                    .hover-tile.hover-tile-hidden
                                      h4= 'Espacio ' + text

                        each val, index in spaces
                            +space-slide(index, val)

        mixin space-modal(number, text)
            - classmodal = "spaces-modal-" + number
            .modal.fade.spaces-modal(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true', class=classmodal)
                .modal-dialog.full-modal
                    .modal-content
                        .modal-body
                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                                span(aria-hidden='true') ×
                            .modal-full-content.spaces-wrapper-content
                                .spaces-slider.swiper-container.swiper-button-white(id="space-slider-" + number)
                                    .swiper-wrapper
                                        .swiper-slide(style="background-image: url('./images/fotospace1.jpg')")
                                        .swiper-slide(style="background-image: url('./images/fotospace1.jpg')")
                                        .swiper-slide(style="background-image: url('./images/fotospace1.jpg')")
                                        .swiper-slide(style="background-image: url('./images/fotospace1.jpg')")
                                        .swiper-slide(style="background-image: url('./images/fotospace1.jpg')")
                                        .swiper-slide(style="background-image: url('./images/fotospace1.jpg')")
                                    .swiper-button-next
                                    .swiper-button-prev
                                .space-desc
                                    h4= "espacio " + text
                                .space-review
                                    .space-wrapper-review
                                        .space-properties
                                            .space-property.clearfix
                                                .property-img.property-people
                                                    img(src="./images/people.png")
                                                .property-desc.d-flex.align-items-center
                                                    p 4 personas
                                            .space-property.clearfix
                                                .property-img.property-people
                                                    img(src="./images/schedule.png")
                                                .property-desc.d-flex.align-items-center
                                                    p L - V de 09:00 hrs - 18:00 hrs
                                                        br
                                                        | S de 09:00 hrs - 13:00 hrs
                                            .space-property.clearfix
                                                .property-img.property-people
                                                    img(src="./images/calendar.png")
                                                .property-desc.d-flex.align-items-center
                                                    p 2 días hábiles de anticipación


        each val, index in spaces
            +space-modal(index, val)


        include includes/footer.pug
        script(src="js/espacios.js",type="text/javascript")