doctype html
html(lang='es')
    include includes/head.pug
    body
        include includes/header.pug

        section#main-section.full-section
            #main-slider.swiper-container.swiper-button-white
                .swiper-wrapper
                    mixin main-slide(title, content)
                        .swiper-slide
                            .main-banner-bg(style="background-image: url('images/banner1.jpg')")
                                .main-banner-content
                                    .pr-4.pl-4
                                        h3= title
                                        p= content
                    - var n = 0;
                    - var banner = {title: 'LOREM IPSUM LAUDATUM',content: 'dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'}
                    while n < 4
                        - n++
                        +main-slide(banner.title + ' ' + n, banner.content)
                .swiper-button-next
                .swiper-button-prev

        section#review-section.fluid-secion
            .row
                .col-12.col-lg-7.col-xl-6
                    .d-none.d-lg-flex.align-items-center.justify-content-center.wrapper-review
                        .list-review
                            .row
                                .col-12.col-lg-4
                                    .list-cont-review
                                        img(src="images/review1.png")
                                        p Intercambia Ideas
                                .col-12.col-lg-4
                                    .list-cont-review
                                        img(src="images/review2.png")
                                        p Colabora
                                .col-12.col-lg-4
                                    .list-cont-review
                                        img(src="images/review3.png")
                                        p Crea
                .col-12.col-lg-5.col-xl-6
                    .d-flex.align-items-center.justify-content-center.wrapper-review
                        .content-review
                            p Somos el espacio de coworking ideal para las personas que quieren 
                                b intercambiar ideas
                                |  y están dispuestas a 
                                b colaborar
                                | .
                                br
                                | Te ofrecemos bellos espacios, cómodos, seguros y dinámicos, perfectos para atraer tu creatividad.

        section.fluid-section
            //- .container-fluid
            .row.no-gutters
                .col-12.col-md-8
                    .content-slider-room
                        #slider-room.swiper-container.swiper-button-white
                            .swiper-wrapper
                                each val in [1, 2, 3, 4, 5]
                                    .swiper-slide(style="background-image: url('images/room1.jpg')")
                                        .slider-room-content
                                            h4= 'Sala de Reuniones ' + val
                                            p AFORO: 15 Personas
                            .swiper-button-next
                            .swiper-button-prev
                        #slider-room-thumbs.swiper-container
                            .swiper-wrapper
                                each val in [1, 2, 3, 4, 5]
                                    .swiper-slide
                                        .swiper-slide-thumb(style="background-image: url('images/room1.jpg')")
                .col-12.col-md-4
                    #feature-event
                        .top-feature-event
                            h4 EVENTOS DESTACADOS
                        .body-feature-event
                            .boxes-feature-event
                                each val in [1, 2, 3]
                                    .box-fetaure-event
                                        .box-top-feature
                                            h3 09set
                                                span= 'iembre ' + val
                                        .boxes-single-feature
                                            each val1 in [1, 2, 3]
                                                .box-single-feature
                                                    .box-content-feature
                                                        .row.no-gutters
                                                            .col-5
                                                                - var img = "background-image: url('images/event" + val1 + ".jpg')"
                                                                a.single-img-feature(href="#",style=img)
                                                            .col-7
                                                                .single-event-review
                                                                    h2 Lorem ipsum dolor
                                                                    p.date-event miércoles, 23 de agosto - 17:00
                                                                    p.location-event Origami Cowork, Salón principal
                                                                    a(href="#").link-event me apunto

        section#plans-section.fluid-section
            .boxes-plans
                .row.no-gutters
                    .col-12.col-md-4.content-plan
                        .box-plan
                            h2 MEMBRESIA BASIC
                            .plan-content-price
                                .plan-price $200
                                .plan-taxes (NO INCLUYE IGV 18%)
                            .plan-review
                                p Trae tu computadora portátil, encuentra un lugar libre y comienza a trabajar.
                            ul.plan-details
                                li
                                    .plan-detail Beneficios generales
                                li
                                    .plan-detail Escritorio flexible
                                li
                                    p (Asiento en cualquier lugar que se acomode a tu forma de trabajo)
                                li
                                    .plan-detail Autoservicio cafetería
                                li
                                    p (café, té y agua)
                                li
                                    .plan-detail Welcome pack
                                li
                                    p (materiales básicos de escritorio)

                    .col-12.col-md-4.content-plan
                        .box-plan
                            h2 SALAS
                            .plan-content-price
                                .plan-price
                                    span desde 
                                    | $30
                                    span por hra.
                                .plan-taxes (NO INCLUYE IGV 18%)
                            .plan-review
                                p Para los que no estén afiliados, tenemos disponibles nuestros espacios para reuniones y/o presentaciones, totalmente equipados.
                            ul.plan-details
                                li
                                    .plan-detail SALA DE REUNIONES ORIGAMI I Y II
                                li
                                    .plan-detail DIRECTORIO I Y II
                                li
                                    .plan-detail AUDITORIO SUM

                    .col-12.col-md-4.content-plan
                        .box-plan
                            h2 MEMBRESIA PREMIUM
                            .plan-content-price
                                .plan-price $300
                                .plan-taxes (NO INCLUYE IGV 18%)
                            .plan-review
                                p Trae tu computadora portátil y con seguridad tendrás un esvpacio fijo para empezar a trabajar.
                            ul.plan-details
                                li
                                    .plan-detail Beneficios generales
                                li
                                    .plan-detail Escritorio flexible
                                li
                                    p ((Reservado))
                                li
                                    .plan-detail Estacionamiento para visitas
                                li
                                    .plan-detail Autoservicio cafetería
                                li
                                    p (café, té y agua)
                                li
                                    .plan-detail Welcome pack
                                li
                                    p (Agenda y materiales básicos de escritorio)
            .plan-bottom.d-none.d-md-block
                a(href="#") MÁS INFORMACIÓN
        
        section#comunity-section.fluid-section
            .wrapper-comunity
                .top-comunity
                    h3  Nuestra Comunidad
                .body-comunity
                    #comunity-slider.swiper-container
                        .swiper-wrapper
                            each val in [1, 2, 3, 4, 5]
                                .swiper-slide(style="background-image: url('images/comunity1.jpg')")
                                    .slider-room-content
                                        p “Dolor sit amet, consectetur adipisc elit, sed do eiusmod tempor dunt ut labore et dolore magna aliqua.
                                        h3 LOREM IPSUM
                .swiper-button-next.swiper-button-black
                .swiper-button-prev.swiper-button-black


        include includes/footer.pug
        script(src="js/index.js",type="text/javascript")