doctype html
html(lang='es')
    include includes/head.pug
    body
        include includes/header.pug

        section#main-section.full-section
            #main-slider.swiper-container.swiper-button-white
                .swiper-wrapper
                    mixin main-slide(title, content)
                        .swiper-slide
                            .main-banner-bg(style="background-image: url('images/banner1.jpg')")
                                .main-banner-content
                                    .pr-4.pl-4
                                        h3= title
                                        p= content
                    - var n = 0;
                    - var banner = {title: 'LOREM IPSUM LAUDATUM',content: 'dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'}
                    while n < 4
                        - n++
                        +main-slide(banner.title + ' ' + n, banner.content)
                .swiper-button-next
                .swiper-button-prev

        section#review-section.fluid-section
            .container-fluid
                .row
                    .col-12.col-lg-7.col-xl-6
                        .d-none.d-lg-flex.align-items-center.justify-content-center.wrapper-review
                            .list-review
                                .row
                                    .col-12.col-lg-4
                                        .list-cont-review
                                            img(src="images/review1.png")
                                            p Intercambia Ideas
                                    .col-12.col-lg-4
                                        .list-cont-review
                                            img(src="images/review2.png")
                                            p Colabora
                                    .col-12.col-lg-4
                                        .list-cont-review
                                            img(src="images/review3.png")
                                            p Crea
                    .col-12.col-lg-5.col-xl-6
                        .d-flex.align-items-center.justify-content-center.wrapper-review
                            .content-review
                                p Somos el espacio de coworking ideal para las personas que quieren 
                                    b intercambiar ideas
                                    |  y están dispuestas a 
                                    b colaborar
                                    | .
                                    br
                                    | Te ofrecemos bellos espacios, cómodos, seguros y dinámicos, perfectos para atraer tu creatividad.

        section.fluid-section
            //- .container-fluid
            .row.no-gutters
                .col-12.col-md-8
                    .content-slider-room
                        #slider-room
                            each val in [1, 2, 3, 4, 5, 6, 7]
                                .slide-room(style="background-image: url('images/room1.jpg')")
                                    .slider-room-content
                                        h4= 'Sala de Reuniones ' + val
                                        p AFORO: 15 Personas
                        #slider-room-thumbs.d-none.d-md-block
                            each val in [1, 2, 3, 4, 5, 6, 7]
                                .slide-thumbmail
                                    .slide-thumbnail-wrapper
                                        .swiper-slide-thumb(style="background-image: url('images/room1.jpg')")
                .col-12.col-md-4
                    #feature-event
                        .top-feature-event
                            h4 EVENTOS DESTACADOS
                        .body-feature-event
                            #event-container.boxes-feature-event
                                each val in [1, 2, 3]
                                    .box-fetaure-event
                                        .box-top-feature
                                            h3 09set
                                                span= 'iembre ' + val
                                        .boxes-single-feature
                                            each val1 in [1, 2, 3]
                                                .box-single-feature
                                                    .box-content-feature
                                                        .row.no-gutters
                                                            .col-5
                                                                - var img = "background-image: url('images/event" + val1 + ".jpg')"
                                                                a.single-img-feature(href="#",style=img)
                                                            .col-7
                                                                .single-event-review
                                                                    h2 Lorem ipsum dolor
                                                                    p.date-event miércoles, 23 de agosto - 17:00
                                                                    p.location-event Origami Cowork, Salón principal
                                                                    a(href="#").link-event me apunto

        section#plans-section.fluid-section
            .boxes-plans
                #plans-accordion.row.no-gutters(role='tablist')
                    .card.col-12.col-md-4.order-md-1.content-plan
                        #headingOne.card-header(role='tab')
                            h2.mb-0
                                a(data-toggle='collapse', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                                    | MEMBRESIA BASIC
                                    .accordion-ico
                                        .horizontal
                                        .vertical
                        #collapseOne.collapse.show(role='tabpanel', aria-labelledby='headingOne', data-parent='#plans-accordion')
                            .card-body.box-plan
                                h2 MEMBRESIA BASIC
                                .plan-content-price
                                    .plan-price $200
                                    .plan-taxes (NO INCLUYE IGV 18%)
                                .plan-review
                                    p Trae tu computadora portátil, encuentra un lugar libre y comienza a trabajar.
                                ul.plan-details
                                    li
                                        .plan-detail Beneficios generales
                                    li
                                        .plan-detail Escritorio flexible
                                    li
                                        p (Asiento en cualquier lugar que se acomode a tu forma de trabajo)
                                    li
                                        .plan-detail Autoservicio cafetería
                                    li
                                        p (café, té y agua)
                                    li
                                        .plan-detail Welcome pack
                                    li
                                        p (materiales básicos de escritorio)
                    .card.col-12.col-md-4.order-md-3.content-plan.last-content-plan
                        #headingThree.card-header(role='tab')
                            h2.mb-0
                                a.collapsed(data-toggle='collapse', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                                    | MEMBRESIA PREMIUM
                                    .accordion-ico
                                        .horizontal
                                        .vertical
                        #collapseThree.collapse(role='tabpanel', aria-labelledby='headingThree', data-parent='#plans-accordion')
                            .card-body.box-plan
                                h2 MEMBRESIA PREMIUM
                                .plan-content-price
                                    .plan-price $300
                                    .plan-taxes (NO INCLUYE IGV 18%)
                                .plan-review
                                    p Trae tu computadora portátil y con seguridad tendrás un esvpacio fijo para empezar a trabajar.
                                ul.plan-details
                                    li
                                        .plan-detail Beneficios generales
                                    li
                                        .plan-detail Escritorio flexible
                                    li
                                        p ((Reservado))
                                    li
                                        .plan-detail Estacionamiento para visitas
                                    li
                                        .plan-detail Autoservicio cafetería
                                    li
                                        p (café, té y agua)
                                    li
                                        .plan-detail Welcome pack
                                    li
                                        p (Agenda y materiales básicos de escritorio)
                    .card.col-12.col-md-4.order-md-2.content-plan
                        #headingTwo.card-header(role='tab')
                            h2.mb-0
                                a.collapsed(data-toggle='collapse', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                                    | SALAS
                                    .accordion-ico
                                        .horizontal
                                        .vertical
                        #collapseTwo.collapse(role='tabpanel', aria-labelledby='headingTwo', data-parent='#plans-accordion')
                            .card-body.box-plan
                                h2 SALAS
                                .plan-content-price
                                    .plan-price
                                        span desde 
                                        | $30
                                        span por hra.
                                    .plan-taxes (NO INCLUYE IGV 18%)
                                .plan-review
                                    p Para los que no estén afiliados, tenemos disponibles nuestros espacios para reuniones y/o presentaciones, totalmente equipados.
                                ul.plan-details
                                    li
                                        .plan-detail SALA DE REUNIONES ORIGAMI I Y II
                                    li
                                        .plan-detail DIRECTORIO I Y II
                                    li
                                        .plan-detail AUDITORIO SUM
            .plan-bottom.d-none.d-md-block
                a(href="#") MÁS INFORMACIÓN
        
        section#comunity-section.fluid-section
            .wrapper-comunity
                .top-comunity
                    h3  Nuestra Comunidad
                .body-comunity
                    #comunity-slider.swiper-container
                        .swiper-wrapper
                            each val in [1, 2, 3, 4, 5]
                                .swiper-slide
                                    .swiper-comunity-bg(style="background-image: url('images/comunity1.jpg')")
                                    .slider-comunity-content
                                        p “Dolor sit amet, consectetur adipisc elit, sed do eiusmod tempor dunt ut labore et dolore magna aliqua.
                                        h3 LOREM IPSUM
                .swiper-button-next.swiper-button-black.d-none.d-md-block
                .swiper-button-prev.swiper-button-black.d-none.d-md-block

        section#contact-section.fluid-section
            .bg-contact
                .container-fluid
                    .wrapper-contact
                        form#main-contact
                            .top-contact
                                h4 CONTÁCTANOS
                            .body-contact
                                .row
                                    .form-group.col-md-6
                                        label.form-control-label(for="form-name") nombre
                                        input#form-name.form-control.control-transparent(type="text",placeholder="",required="required")
                                    .form-group.col-md-6
                                        label.form-control-label(for="form-email") email
                                        input#form-email.form-control.control-transparent(type="email",placeholder="",required="required")
                                    .form-group.col-md-6
                                        label.form-control-label(for="form-what-does") ¿qué hace?
                                        select#form-what-does.form-control.control-transparent(required="required")
                                            option 1
                                            option 2
                                    .form-group.col-md-6
                                        label.form-control-label(for="form-for-who") ¿para quién lo hace?
                                        select#form-for-who.form-control.control-transparent(required="required")
                                            option 1
                                            option 2
                                    .form-group.col-md-6
                                        label.form-control-label(for="form-business") nombre de la empresa
                                        input#form-business.form-control.control-transparent(type="text",placeholder="",required="required")
                                    .form-group.col-md-6
                                        label.form-control-label(for="form-phone") teléfono
                                        input#form-phone.form-control.control-transparent(type="tel",placeholder="",required="required")
                                    .form-group.col-12
                                        label.form-control-label(for="form-message") mensaje
                                        textarea#form-message.form-control.control-transparent(rows=4)
                                    .col-12
                                        button#form-submit.btn.btn-block.btn-button.btn-transparent(type="submit") ENVIAR

        include includes/footer.pug
        script(src="js/index.js",type="text/javascript")